@import '~bootstrap/dist/css/bootstrap.min.css';

*, .btn {
    border-radius: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 210px;
    min-height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    margin: 1rem 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.margin-bottom {
    margin-bottom: 2rem;
}

header {
    background: #555;
    padding: 2rem;
}

header h1 a {
    color: #fff;
}

header h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#logo {
    width: 200px;
}

#logo img {
    width: 100%;
}

.jumbotron {
    margin: 0;
    background: #fff;
}

#collections > div {
    margin-top: 2rem;
}

#collections > div:first-child {
    margin-top: 0;
}

#collections .btn {
    width: 100%;
    font-size: 4rem;
}

#search-books-form {
    position: relative;
}

#search-books-form.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0 0 35px -2px #777;
}

#search-books-form input.form-control {
    border-radius: 0;
}

#search-books-form.sticky input.form-control {
    padding: 0.25rem 0 0.25rem 0.75rem;
    height: 45px;
}

#search-books-submit {
    position: absolute;
    right: 0;
    top: 0;
}

#search-books-form.sticky #search-books-submit {
    height: 45px;
    width: 50px;
}

table td.break-word, table td.break-word * {
    word-break: break-word;
}

table th.text-center, table td.text-center {
    text-align: center;
}

.remove-book {
    color: #dc3545;
    font-size: 20px;
}

.dark-link {
    color: #212529;
}

.sm-hide {
    display: none;
}

.alert {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    z-index: 3;
    box-shadow: 0 1px 10px 0 #aaa;
}

#bookDetailsModal .flex {
    justify-content: space-around;
    margin-bottom: 1rem;
}

#bookDetailsModal .flex img {
    width: 128px;
    margin-right: 10px;
}

#loadingSpinner {
    position: fixed;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#loadingSpinner.show {
    display: block;
}

#loadingSpinner .fa {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -25px auto 0;
    color: #fff;
    display: block;
    width: 65px;
    font-size: 65px;
}

footer {
    padding: 4rem 0 2rem;
    background: #000;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

footer ul {
    margin-bottom: 3rem;
    font-size: 1.75rem;
}

footer ul li {
    display: inline-block;
    margin: 0 15px;
}

footer ul li a {
    color: #fff;
}

footer small img {
    width: 23px;
    background: #fff;
    border-radius: 20px;
}

@media (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    #collections .btn {
        font-size: 2rem;
    }

    .sm-hide {
        display: block;
    }

    .xs-hide {
        display: none;
    }

    .card {
        margin-top: 1rem;
    }

    .card:first-child {
        margin-top: 0;
    }

    .card-title {
        width: 80%;
    }

    .card-body {
        position: relative;
    }

    .card-body .edit-book {
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
    }

    .card-body .remove-book {
        position: absolute;
        right: 1.25rem;
        bottom: 1.25rem;
        color: #fff;
    }

    #bookDetailsModal .flex {
        justify-content: space-between;
        align-items: start;
    }

    #bookDetailsModal .flex img {
        max-width: 128px;
        width: 50%;
        min-width: 110px;
    }

    #bookDetailsModal .book-details-container {
        font-size: 0.85rem;
    }
}